#add_btn { width: 190px; height: 50px; margin-top: 10px; font-weight: bold; background-color: blue; color: white; border: double white; font-size: 15px; font-family: time new roman; margin-top: 5px;margin-bottom: 10px}
#custome_post_save { width: 100%; height: 50px; margin-top: 15px; font-weight: bold; background-color: blue; color: white; border: double white; margin-bottom: 20px; font-size: 20px; font-family: time new roman; }
#divForm { background-color: #aab7b8; padding: 0px 20px 20px 20px; border-radius: 5px; border-left: 5px solid #5c6894; border-right: 5px solid #5c6894; border-bottom: 5px solid #5c6894; border-top: 3px solid blue; height: 420px !important; }
.ui-dialog-titlebar { background-color: #aab7b8; text-align: right; height: 47px; border-left: 5px solid #5c6894; border-right: 5px solid #5c6894; border-top: 5px solid #5c6894; border-bottom: 0px solid blue; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.ui-icon-closethick { width: 30px; height: 50px; margin-right: 25px; margin-bottom: 25px; }
.ui-dialog-titlebar-close { background: url('icons8-Close Window-48.png'); background-repeat: no-repeat; background-position: center; padding-right: 23px; padding-bottom: 15px; margin-right: 2px; padding-top: 21px; }
.ui-dialog { position: relative; width: 450px; height: 500px; top: -2271.61px; left: 5px; display: block; z-index: 99999; }
.dailogBoxbackground { position: fixed; top: 0px; bottom: 0px; right: 0px; left: 0px; background: url('../images/fancybox_overlay.png'); }
.cls-head { padding: 30px 10px 40px 10px; font-size: 20px; font-weight: bold; font-family: time new roman; }
.feedback { width: 48%; background-color: #ffffff; padding: 50px; border-radius: 5px; font-family: time new roman; font-size: 18px; }
.feedback .feedback-form { font-size: 18px; }
.feedback .feedback-form .feedback-lbl { height: 35px; }
.feedback .feedback-btn { width: 150px; height: 40px; font-size: 22px; font-weight: bold; font-family: time new roman; border-radius: 8px; }
.feedback #option_msg { color: green; }
.rate { border: 1px solid #131010;height: 50px;padding: 0px 124px;background-color: brown;border-radius: 5px; }
.rate:not(:checked) > input { position: absolute; top: -9999px; }
.rate:not(:checked) > label { float: right; width: 1em; overflow: hidden; white-space: nowrap; cursor: pointer; font-size: 30px; color: #ccc; }
.rate:not(:checked) > label:before { content: '★ '; }
.rate > input:checked ~ label { color: #ffc700; }
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label { color: #deb217; }
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label { color: #c59b08; }
.popupDailogBox{
    overflow: hidden !important;
}
@media screen and (max-width:768px) {
    .ui-dialog { position: relative; height: auto; width: 350px !important; top: -2271.61px; left: 5px; display: block; z-index: 99999 }
}
